<div class="columns section">
  <div class="column left-side">
    <div class="field">
      <div class="control has-icons-left ">
        <input [(ngModel)]="selectedDateValue"
               class="input is-info"
               dateFormat="DD/MM/YYYY"
               name="startDate" type="date">
        <span class="icon is-small is-left">
          <i class="fas fa-calendar"></i>
        </span>
      </div>
      <p class="help">Введите дату</p>
    </div>
    <button [queryParams]="{date: selectedDateValue}" [routerLink]="['/events/create']" class="button">Добавить</button>
  </div>
  <div class="column">
    <div *ngFor="let event of eventList" class="box columns">
      <div class="column">
        <span class="has-text-link"> {{event.title}} <br> </span>
        <span *ngIf="event.budget">Бюджет:  {{event.budget}}$ <br> </span>
        <span *ngIf="event.address">Адрес: {{event.address}} <br> </span>
        <span *ngIf="event.time">Время: {{event.time}} <br> </span>
        <span *ngIf="event.note"> {{event.note}} <br> </span>
      </div>

      <div class="column is-one-fifth edit-delete-buttons">
        <span class="level">
        <button [routerLink]="['/events/', event.id, 'edit']"
                class="level-item button is-link is-light is-small">
          <i class="fa fa-edit fa-lg"></i>
        </button>
        <button (click)="confirmDelete(event)"
                class="level-item button is-danger is-light is-small">
          <i class="fa fa-trash fa-lg"></i>
        </button>
        </span>
      </div>
    </div>
  </div>
</div>

<!--Delete Event Modal-->
<div [ngClass]="{ 'is-active' : isDeleteEvent }" class="modal">
  <div (click)="closeModal()" class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Вы точно хотите удалить?</p>
      <button (click)="closeModal()" aria-label="close" class="delete"></button>
    </header>
    <section class="modal-card-body">
      <b>Название события: </b><span *ngIf="this.selectedEvent">{{this.selectedEvent.title}}</span>
    </section>
    <footer class="modal-card-foot">
      <div class="control">
        <button (click)="closeModal()" class="button is-focused">Отменить</button>
      </div>
      <div class="control">
        <button (click)="deleteEvent();" *ngIf="buttonEnable" class="button is-danger">Удалить
        </button>
        <button *ngIf="!buttonEnable" class="button is-link is-loading" disabled>Загружается</button>
      </div>
    </footer>
  </div>
</div>
