<div class="container" style="padding-top: 1rem;">
  <h1 class="title has-text-centered">{{pageTitle}}</h1>
  <form class="container" style="margin: 0.4rem;">
    <div class="field column">
      <label class="label">Название события</label>
      <div class="control">
        <input [(ngModel)]="currentEvent.title" class="input is-info" name="title" type="text">
      </div>
    </div>

    <div class="field column">
      <label class="label">Тип события</label>
      <div class="control">
        <ng-select [(ngModel)]="currentEvent.type"
                   [items]="eventTypes"
                   [multiple]="false"
                   appendTo="body"
                   bindLabel="title"
                   name="eventType"
                   placeholder="Выберите...">
        </ng-select>
      </div>
    </div>

    <div *ngIf="isBirthdaySelected" class="field column">
      <label class="label">Бюджет ($)</label>
      <div class="control">
        <input [(ngModel)]="currentEvent.budget" class="input is-info" name="budget" type="number">
      </div>
    </div>

    <div *ngIf="isPartySelected" class="field column">
      <label class="label">Куда идти?</label>
      <div class="control">
        <input [(ngModel)]="currentEvent.address" class="input is-info" name="address" type="text">
      </div>
    </div>

    <div *ngIf="isPartySelected" class="field column">
      <label class="label">Во сколько?</label>
      <div class="control">
        <input [(ngModel)]="currentEvent.time" class="input is-info" placeholder="16:13" name="time" type="text">
      </div>
    </div>

    <div *ngIf="isOtherSelected" class="field column">
      <label class="label">Заметочка</label>
      <div class="control">
        <input [(ngModel)]="currentEvent.note" class="input is-info" name="note" type="text">
      </div>
    </div>

    <div class="field is-grouped column">
      <div class="control">
        <button (click)="cancel()" class="button is-link is-light">Отмена</button>
      </div>
      <div class="control">
        <button (click)="save()" *ngIf="buttonEnable" class="button is-link">{{buttonText}}</button>
        <button *ngIf="!buttonEnable" class="button is-link is-loading" disabled>Загружается</button>
      </div>
    </div>

  </form>
</div>
